
/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    /* Estilos CSS para pantallas más pequeñas */
  }
  

*{
    font-family: Montserrat;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: justify;
}

header {
    background-color: #e2e6e6;
    color: rgb(124, 124, 122); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
}

header img {
    max-width: 70px;
    height: auto;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    text-decoration: none;
    color: #7cccc5;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.text {
    flex: 1;
    padding: 20px;
    text-align: justify;

}
.image {
    flex: 1;
    max-width: 100%;
    text-align: right;
}
.image img {
    max-width: 100%;
    height: auto;
    
}
.card-text1{
    font-family: Montserrat;
    font-size: 20px;
    text-align: justify;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.randomxd{
  padding-top: 0 !important;
}
.col-md-4{
    padding: 30px;
    
}
/*.about-us {
 display: flex;
  align-items: ; */


.content {
display: flex;
flex-direction: row;
align-items: center; 
justify-content: space-between; 
width: 100%; 
font-size: 20px;
}

.text {
    flex: 1; 
}

.image {
    flex: 1; 
    text-align: center; 
}


.content {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    width: 100%; 
}

.text {
    flex: 1; 
    margin-right: 20px; 
}

.image {
   flex: 1; 
        text-align: center; 
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

.title1{
  padding-left: 30px;
  padding-top: 3%;
}

.col-md-4 img{
    padding: 30px;
}
#miEncabezado {
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

    
.title-line {
    width: 200px; 
    border-top: 5px solid #d3d4d6; 
    margin: 10px 0; 
    border-radius: 5px;   
}
.fa-2x {
  font-size: 2em;
}
ul {
    list-style: none;
    font-size: 18px;
  }
  
.accion li::before {
    content: "\2022";
    color: #2a388f;
    font-weight: bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 30px;
  }
  .welk{
    text-align: left;
    font-size: 28px;
    color: #2a388f;
  }
  .logo{
    height: auto;
    width: 80%;
  }
.tajeta-azul{
    background-color: #538a85 !important;
    color: #fff;
    /*box-shadow: 0px -32px 18px -20px rgba(2, 2, 2, 0.45) inset,
0px 32px 18px -20px rgba(3, 3, 3, 0.45) inset !important;
    border-radius: 0% !important; */
}

#service{
background-color: #2c5866;
color: white;

}

img {
    max-width: 100%;
    height: auto;
  }

  .icons{
    color: black !important;
  }
  .card-text{
    color: black !important;
    font-size: medium;
  }
  .card-title{
    color: black;
    font-weight: bold;
    text-align: center;

  }

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}


.popup-content {
    background-color: #284c57; /* Color de fondo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: justify;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px; /* Bordes redondeados */
    width: 60%; /* Ancho personalizable */
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff; /* Color del botón de cierre */
    cursor: pointer;
}
.popup ul {
  list-style-type: disc; 
  padding-left: 20px;    
}
/* Estilos para el título y texto de la ventana emergente */
.popup-title {
    font-size: 24px;
    color: #fff; /* Color del texto del título */
    margin-bottom: 10px;
}

.popup-text {
    font-size: 16px;
    color: #fff; /* Color del texto principal */
    margin-bottom: 20px;
}


#closePopupButton {
    background-color: #007BFF;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

button{

  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button:focus {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 50px;
  }
}

.card-img-top{
    width: auto;
    height: 300px;
}

.card {
  
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}
